.detail {
  &Head {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 16px;
    &__content {
      display: flex;
      flex-direction: column;
      &-row {
        display: flex;
        align-items: center;
      }
      &-stars {
        display: flex;
        align-items: center;
        margin-right: 7px;
        svg {
          width: 12px;
          height: 11px;
          color: $star;
          margin-right: 2px;
          &:last-child {
            margin: 0;
          }
        }
      }
      h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 6px;
      }
      p {
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        text-transform: uppercase;
        color: $primary;
      }
    }
    &__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a,
      button {
        width: 28px;
        color: $primary;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        margin-right: 7px;
        &:first-child {
          width: 31px;
          height: 31px;
        }
        &:last-child {
          width: 21px;
          height: 21px;
          margin: 0;
        }
        svg {
          width: 100%;
          height: 100%;
          color: $primary;
        }
      }
    }
    &__like {
      svg {
        color: $primary !important;
      }
      &.active {
        svg {
          color: red !important;
          transform: scale(1.3);
        }
      }
      svg {
        width: 100%;
        height: 100%;
        @include transition;
      }
    }
  }
}
.breadcrumb {
  padding: 19px 0;
  border-top: 1px solid #e0e0e0;
  &__inner {
    display: flex;
    align-items: center;
    li {
      font-weight: 500;
      font-size: 24px;
      line-height: 20px;
      text-transform: capitalize;
      color: #26529c;
      a {
        color: #26529c;
        position: relative;
        @include transition;
        &:hover {
          color: $secondary;
        }
        &::after {
          color: #26529c;
          content: "/";
          font-weight: 700;
          margin: 0 5px;
          display: inline-block;
        }
      }
    }
  }
}
@mixin breadcrumb-lg-xlg {
  .breadcrumb {
    padding: 15px 0;
    &__inner {
      li {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
@mixin breadcrumb-xsm-sm {
  .breadcrumb {
    display: none;
  }
}
.gallery {
  &__inner {
    margin: 0 -10px;
    padding-right: 50%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  &Item {
    width: calc(50% - 20px);
    margin: 10px;
    position: relative;

    &__btns {
      position: absolute;
      top: 26px;
      right: 26px;
      display: flex;
      z-index: 1;
      align-items: center;
      button {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background: transparent;
      }
    }
    &__share {
      width: 28px !important;
      height: 28px !important;
      margin-left: 10px;
    }
    &__like {
      &.active {
        color: red;
        svg {
          transform: scale(1.3);
        }
      }
      svg {
        width: 100%;
        height: 100%;
        @include transition;
      }
    }
    &__over {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $white;
      background: rgba($color: $black, $alpha: 0.4);
      border-radius: 12px;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 30px;
      line-height: 28px;
      svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }
    &:nth-child(1) {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(50% - 30px);
      height: calc(100% - 20px);
      box-sizing: border-box;
      margin: 10px;
      .galleryItem__inner {
        position: static;
      }
    }
    &__inner {
      position: relative;
      padding-bottom: 60.1%;
    }
    &__image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      overflow: hidden;
      left: 0;
      img {
        @include fullImage;
      }
    }
  }
  &Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 999;
    box-sizing: border-box;
    &__inner {
      height: 100%;
      padding: 70px 20px;
      box-sizing: border-box;
    }
    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        border-radius: 3px;
        content: "";
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: $white;
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        border-radius: 3px;
        content: "";
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: $white;
      }
    }
    &__slider {
      position: static !important;
      max-width: 930px;
      margin: 0 auto;
      &-wrapper {
        position: relative;
        padding: 0 14px;
        margin-bottom: 50px;
      }
    }
    &__swiper {
      margin: 0 -4px;
      .slick {
        &-slide {
          margin: 0 4px;
          border: 2px solid transparent;
          transition: 0.3s ease;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba($black, 0.2);
            opacity: 0;
            transition: 0.3s ease;
            pointer-events: none;
            z-index: 2;
          }
        }
        &-current {
          border-color: $white;
          .gallerySwiper {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
    .slick {
      &-track {
        display: flex !important;
      }
      &-slide {
        height: unset !important;
        div {
          height: 100%;
        }
      }
      &-arrow {
        width: 28px;
        height: 28px;
        border-radius: 5px;
        background-color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        border: unset;
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          content: "";
          width: 8px;
          height: 8px;
          border-top: 3px solid $primary;
          border-right: 3px solid $primary;
          transform: translate(-40%, -50%) rotate(-135deg);
          transition: 0.3s ease;
        }
        &:hover {
          background-color: $primary;
          border-color: $primary;
          &::before {
            border-color: $white;
          }
        }
        &:focus {
          background-color: $primary;
          border-color: $primary;
          &::before {
            border-color: $white;
          }
        }
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
        &::before {
          transform: translate(-60%, -50%) rotate(45deg);
        }
      }
    }
  }
  &Slide {
    display: flex !important;
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      img,
      iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
    &__content {
      padding: 20px 30px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: unset !important;
      box-sizing: border-box;
      color: $white;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        content: "";
      }
    }
  }
  &Swipe {
    &__inner {
      padding-bottom: 100%;
      position: relative;
      box-sizing: border-box;
      img,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@mixin gallery-lg-xlg {
  .gallery {
    margin: 0 -24px;
    width: calc(100% + 48px);

    &__inner {
      box-sizing: border-box;
    }
    &Item {
      width: calc(50% - 4px);
      margin: 2px;
      &__over {
        font-size: 18px;
        line-height: 20px;
        border-radius: 0;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      &__btns {
        button {
          width: 24px;
          height: 24px;
        }
      }
      &__share {
        width: 18px !important ;
        height: 18px !important;
      }
      &:nth-child(1) {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% - 14px);
        height: calc(100% - 4px);
        box-sizing: border-box;
        margin: 2px;
        .galleryItem__inner {
          position: static;
        }
      }
      &__image {
        border-radius: 0;
      }
    }
  }
}
@mixin gallery-xsm-sm {
  .gallery {
    margin: 0 -20px;
    width: calc(100% + 40px);

    &__inner {
      padding: 0 0 0 50%;
    }
    &Item {
      width: calc(100% - 2px);
      margin: 1px;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(50% - 12px);
        height: calc(100% - 2px);
        margin: 1px;
        .galleryItem__inner {
          position: static;
        }
      }
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(5) {
        display: none;
      }
      &__over {
        text-decoration: unset;
        svg {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
    }
  }
}
.navigation {
  border-bottom: 1px solid #d1d1d1;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    animation: 0.2s linear sticky;
    width: 100%;
    background: $white;
    z-index: 10;
  }
  &__outer {
    min-height: 74px;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-links {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 420px);
      max-width: 800px;
      a {
        padding: 25px 0;
        position: relative;
        display: block;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b8b8b8;
        &:last-child {
          margin-right: 0;
        }
        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 0;
          height: 5px;
          background: $primary;
        }
        &.active {
          color: $primary;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
  &Info {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    button {
      box-sizing: border-box;
      border-radius: 50px;
      border: 2px solid $primary;
      padding: 15px 10px;
      width: 150px;
      background: $white;
      font-family: "Poppins";
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: $primary;
      &.active {
        background: $primary;
        color: $white;
      }
    }
    &__price {
      font-weight: 700;
      font-size: 38px;
      line-height: 1;
      color: $primary;
      span {
        font-size: 20px;
        line-height: 23px;
      }
      &s {
        margin-right: 16px;
      }
    }
    &__extra {
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      color: #faaf05;
    }
  }
}
@mixin navigation-xxxlg-xxxxlg {
  .navigation {
    &__inner {
      &-links {
        max-width: 650px;
      }
    }
    &Info {
      &__price {
        font-size: 30px;
        span {
          font-size: 18px;
          line-height: 21px;
        }
        &s {
          margin-right: 16px;
        }
      }
      &__extra {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}
@mixin navigation-xxlg-xxxlg {
  .navigation {
    &__inner {
      &-links {
        width: calc(100% - 340px);
        max-width: 540px;
        a {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    &Info {
      width: 320px;
      button {
        font-size: 14px;
        padding: 12px 6px;
        width: 120px;
      }
      &__extra {
        font-size: 14px;
        line-height: 16px;
      }
      &__price {
        font-size: 24px;
        line-height: 26px;
        span {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
@mixin navigation-md-lg {
  .navigation {
    &__outer {
      display: none;
    }
  }
}
@mixin detail-md-lg {
  .gallery {
    &Modal {
      padding: 0;
      &__inner {
        padding: 56px 15px 150px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__slider {
        &-wrapper {
          padding: 0;
          margin: auto 0;
        }
      }
      &__swiper {
        margin: 0;
        position: absolute !important;
        bottom: 20px;
        left: 0;
        width: 100%;
        .slick {
          &-slide {
            margin: 0 3px;
            border-width: 1.5px;
          }
        }
      }
      .slick {
        &-arrow {
          background-color: rgba($black, 0.4);
          &::before {
            border-color: $white;
          }
          &:hover {
            background-color: rgba($black, 0.8);
          }
          &:focus {
            background-color: rgba($black, 0.8);
          }
        }
        &-prev {
          left: 10px;
        }
        &-next {
          right: 10px;
        }
      }
    }
    &Slide {
      &__content {
        display: none;
      }
    }
  }
}
@mixin detail-xsm-sm {
  .detail {
    border-top: 1px solid #f2f2f2;
    &Head {
      display: flex;
    }
  }
}
