.room {
  padding-top: 30px;
  &__inner {
  }
  &Head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    &__item {
      width: calc(50% - 4px);
      box-sizing: border-box;
      background: $white;
      border: 1px solid #c0cad5;
      border-radius: 5px;
      padding: 8px 16px 8px 48px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > svg {
        position: absolute;
        top: 50%;
        left: 16px;
        width: 24px;
        height: 24px;
        color: $primary;
        transform: translateY(-50%);
      }
      h6 {
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        color: #607d9a;
        margin-bottom: 4px;
      }
      input {
        font-family: $mainFont;
        font-weight: 600;
        font-size: 14px !important;
        line-height: 16px !important;
        color: #000000;
      }
    }
    .search {
      &Item {
        position: static;
        padding: 0 !important;
        border: unset !important;
        &__title {
          font-weight: 600;
          font-size: 12px;
          line-height: 100%;
          color: #607d9a;
          margin-bottom: 4px;
        }
        &__input {
          display: flex;
        }
      }
      &Pop {
        &Dates {
          width: 100%;
          background-color: unset;
          border-radius: unset;
          margin: 0;
          display: flex;
          align-items: center;
          padding: 0;
          border: unset;
          &__content {
            display: flex;
            flex-direction: column;
          }
        }
        &Acts {
          width: 100%;
          flex-direction: column;
          background-color: unset;
          border-radius: unset;
          border: unset;

          &__outer {
            position: static;
          }
          & > svg {
            display: none;
          }
        }
      }
      &Mob {
        &__room {
          width: 100%;
          padding: 0;
          position: static;
        }
      }
    }
    .calendar {
      left: 0;
      transform: translateX(0);
    }
  }
  &Item {
    display: flex;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin-bottom: 14px;
    &:last-child {
      margin: 0;
    }
    &__main {
      width: 324px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      border-right: 1px solid #d7d7d7;
      padding: 10px 10px 20px 18px;
      box-sizing: border-box;
      &-top {
        margin-bottom: 30px;
      }
      button {
        font-family: $mainFont;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
        color: $primary;
        text-decoration: underline;
        background-color: transparent;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      h4 {
        font-size: 28px;
        line-height: 30px;
        font-weight: 600;
        margin: 2px 0;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
        color: #00b086;
      }
    }
    &Info {
      width: calc(100% - 324px);
      &__row {
        width: 100%;
        box-sizing: border-box;
        padding: 14px 10px 14px 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #d7d7d7;
        &:last-child {
          border: unset;
        }
      }
      &__title {
        display: flex;
        flex-direction: column;
        h6 {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          &:last-child {
            margin: 0;
          }
          svg {
            width: 24px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
      &__side {
        display: flex;
        align-items: center;
        .button {
          white-space: nowrap;
          &__wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
              font-family: $mainFont;
              font-weight: 600;
              font-size: 16px;
              line-height: 23px;
              text-align: center;
              text-decoration: underline;
              color: #faaf05;
              margin-top: 4px;
            }
          }
        }
      }
      &__prices {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        margin-right: 20px;
        h5 {
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          text-transform: capitalize;
          color: $star;
          margin-bottom: 4px;
        }
        p {
          color: $primary;
          font-weight: 500;
          margin-bottom: 4px;
          font-size: 12px;
          line-height: 14px;
          &:last-child {
            margin: 0;
          }
          b {
            font-weight: 600;
            color: $star;
          }
        }
      }
    }
    &Check {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      &:last-child {
        margin: 0;
      }
      &__box {
        width: 20px;
        height: 20px;
        position: relative;
        margin-right: 6px;
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 2;
          &:checked ~ span {
            background-color: $primary;
            svg {
              opacity: 1;
            }
          }
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid $primary;
          box-sizing: border-box;
          transition: 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          svg {
            width: 10px;
            height: 10px;
            color: $white;
            opacity: 0;
            transition: 0.3s ease;
          }
        }
      }
      p {
        width: calc(100% - 26px);
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
        color: #26529c;
        b {
          font-weight: 600;
          color: #faaf05;
        }
      }
    }
  }
  &Card {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    &__top {
      padding: 8px 44px 8px 12px;
      display: flex;
      position: relative;
      border: 1px solid #d4d4d4;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      svg {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 35px;
        height: 35px;
        color: $primary;
        transform: translateY(-50%);
      }
      button {
        font-family: $mainFont;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
        text-decoration: underline;
        color: $primary;
        background-color: unset;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__content {
      padding: 8px 10px 8px 12px;
      border: 1px solid #d4d4d4;
      h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
      }
      h5 {
        font-weight: 600;
        font-size: 40px;
        line-height: 28px;
        text-transform: capitalize;
        color: $star;
      }
      .button {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        padding: 9px 28px;
      }
      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
        color: $primary;
        margin-bottom: 8px;
        &:last-child {
          margin: 0;
        }
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }
}
@mixin room-xxlg-xxxlg {
  .room {
    &Item {
      &__main {
        width: 255px;
      }
      &Info {
        width: calc(100% - 255px);
      }
    }
  }
}
@mixin room-lg-xlg {
  .room {
    &Item {
      flex-direction: column;
      &__main {
        width: 100%;
        border-bottom: 1px solid #d7d7d7;
        padding: 10px 15px;
        &-top {
          margin-bottom: 18px;
        }
      }
      &Info {
        width: 100%;
      }
    }
  }
}
@mixin room-sm-md {
  .room {
    &__inner {
      &-col {
        h4 {
          margin-bottom: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
@mixin room-xsm-sm {
  .room {
    &Head {
      flex-direction: column;
      &__item {
        width: 100%;
        margin-bottom: 8px;
        padding: 10px 38px 10px 32px;
        &::before {
          position: absolute;
          top: 50%;
          right: 12px;
          content: "";
          width: 8px;
          height: 8px;
          border-top: 2px solid $black;
          border-right: 2px solid $black;
          transform: translateY(-60%) rotate(135deg);
          transition: 0.3s ease;
        }
        &:last-child {
          margin: 0;
        }
        h6 {
          font-size: 14px;
          line-height: 100%;
        }
        input {
          font-size: 14px;
          line-height: 16px;
        }
        svg {
          width: 16px;
          height: 16px;
          left: 8px;
        }
      }
    }
  }
}
