.services {
  &__inner {
    padding: 28px 0 58px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    &-title {
      margin-bottom: 15px;
      h4 {
        font-weight: 600;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-col {
      width: calc(25% - 10px);
      max-width: 280px;
      display: flex;
      flex-direction: column;
    }
  }
  &Item {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    &:last-child {
      margin: 0;
    }
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-transform: capitalize;
      }
      button {
        background: unset;
        margin-left: 11px;
        display: flex;
        align-items: center;
        font-family: $mainFont;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: $primary;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.8;
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 23px;
          height: 23px;
          border-radius: 50%;
          background-color: $primary;
          margin-right: 3px;
          svg {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        &:last-child {
          margin: 0;
        }
        svg {
          width: 14px;
          height: 14px;
          margin-right: 7px;
          margin-top: 5px;
          color: #00EA25;
        }
        p {
          width: calc(100% - 21px);
        }
      }
    }
  }
  &Card {
    width: calc(50% - 12px);
    margin: 12px 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
      opacity: .8;
    }
    &.active {
      p {
        color: $primary;
      }
    }
    &__icon {
      width: 36px;
      height: 36px;
      background: #edf0f3;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12);
      border-radius: 50%;
      border: 2px solid $white;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      box-sizing: border-box;

      svg {
        width: 24px;
        height: 24px;
        color: $black;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        z-index: 1;
      }
      span {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: $primary;
        border-radius: 50%;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
    p {
      width: calc(100% - 46px);
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: $black;
    }
  }
  &Mob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: $white;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 24px;
      background-color: $primary;
      h5 {
        font-family: $balsamiq;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-transform: uppercase;
        color: $white;
      }
    }
    &__close {
      width: 18px;
      height: 18px;
      position: relative;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        border-radius: 3px;
        content: "";
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: $white;
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        border-radius: 3px;
        content: "";
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: $white;
      }
    }
    &__inner {
      padding: 30px 20px;
      box-sizing: border-box;
      height: calc(100% - 52px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &Btn {
    display: none;
  }
}
@mixin services-xxlg-xxxlg {
  .services {
    &Item {
      margin-bottom: 24px;
      &__list {
        li {
          p {
            font-size: 14px;
            line-height: 18px;
          }
          span {
            widows: 12px;
            height: 12px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
@mixin services-lg-xlg {
  .services {
    &__inner {
      &-col {
        width: calc(50% - 10px);
        margin-bottom: 30px;
        max-width: 340px;
      }
    }
  }
}
@mixin services-xsm-sm {
  .services {
    display: none;
    &__inner {
      &-title {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        h4 {
          font-size: 16px;
          line-height: 28px;
        }
      }
      &-row {
        flex-direction: column;
      }
      &-col {
        width: 100%;
        max-width: 280px;
        margin: 0 auto 30px;
        &:last-child {
          margin: 0 auto;
        }
      }
      &-content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -6px;
      }
    }
    &Card {
      &__icon {
        span {
          display: none;
        }
        img {
          display: none;
        }
      }
    }
    &Btn {
      display: flex;
      font-family: $mainFont;
      font-weight: 700;
      font-size: 14px;
      line-height: 28px;
      text-decoration: underline;
      color: $primary;
      margin-left: 10px;
    }
  }
}
